.foot {
  background: #fff;
  /* height: 40vh; */
}
.foot-header {
  color: #ffaa32;
}
.foot-link {
  list-style: none;
  letter-spacing: 2px;
}
.social-media-links a {
  text-decoration: none;
  color: #ffaa32;
}

@media screen and (max-width: 574px) {
  .foot {
    padding: 2rem !important;
  }
  .foot-links {
    margin-top: 0rem !important;
  }
  .foot-link {
    letter-spacing: 0px;
  }
  .social-media-links a {
    text-decoration: none;
    color: #ffaa32;
  }
  .copyright {
    word-spacing: 3px;
  }
}
